@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>As I learn about the newest technologies</p>
<p>and begin to use them I'll talk about how </p>
<p>I implemented the web application and what </p>
<p>technologies I used.</p>
<p></p>
<p>Currently I'm using Visual Basic 2015 Community</p>
<p>Office Pro Pack 2016, Visio 2016 (thanks for the free upgrade Microsoft)</p>
<p>Visual Studio Team Services, and Microsoft Azure</p>