@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    David Cashion
    Garden City, ID 83714

    (208) 000-0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dcashion@outlook.com">Click here to send me a message</a><br />
</address>