@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>David Cashion</p>
    <p>Garden City, ID 83714</p>
    <p></p>
    <p>(203) 493-6870 Message Phone</p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dcashion@outlook.com">Click here to send me a message</a><br />
</address>