@{
    ViewBag.Title = "David Cashion's Homepage";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is my personal home page.</p>
<p>It's currently under development while I learn</p>
<p>Visual Studio 2015, Team Services, C#, and Azure</p>
